<div class="dashboard">
  <div class="metrics">
    <div class="cards">
      <div class="card total">
        <h3 class="card-title">Total de Tarefas</h3>
        <p class="card-data">{{ totalTasks }}</p>
      </div>
      <div class="card completed">
        <h3 class="card-title">Tarefas Concluídas</h3>
        <p class="card-data">{{ completedTasks }}</p>
      </div>
      <div class="card pending">
        <h3 class="card-title">Tarefas Pendentes</h3>
        <p class="card-data">{{ pendingTasks }}</p>
      </div>
      <div class="card rate">
        <h3 class="card-title">Taxa de Conclusão</h3>
        <p class="card-data">{{ completionRate }}%</p>
      </div>
    </div>

    <div class="charts">
      <div class="chart-container pie-chart-container">
        <canvas id="taskTotalChart"></canvas>
      </div>

      <div class="chart-container pie-chart-container">
        <canvas id="overdueTaskChart"></canvas>
      </div>
    </div>
  </div>

  <div class="calendar">
    <h3 class="title">Tarefas do semestre</h3>
    <div class="simple-calendar">
      <div class="chart-container">
        <canvas id="taskMonthlyChart"></canvas>
      </div>
    </div>
  </div>
</div>
