<div class="main">
  <div class="header">
    <div class="menu">
      <h2>
        {{
          this.router.url == "/conta/a-pagar" ||
          this.router.url == "/conta/a-receber"
            ? "Contas"
            : this.router.url == "/conta/fornecedor/novo"
            ? "Novo Fornecedor"
            : this.router.url == "/conta/fornecedor/lista"
            ? "Fornecedores"
            : this.router.url == "/conta/adicionar-dispesa"
            ? "Adicionar Dispesa"
            : this.router.url == "/conta/cliente/novo"
            ? "Novo Cliente"
            : "Clientes"
        }}
      </h2>
      <div
        *ngIf="
          this.router.url == '/conta/a-pagar' ||
          this.router.url == '/conta/a-receber'
        "
        [class]="
          this.router.url == '/conta/a-receber' ? 'menu-receber' : 'menu-pagar'
        "
      >
        <button>a Receber</button>
        <button>a Pagar</button>
      </div>
    </div>
    <nav *ngIf="this.router.url == '/conta/a-receber'">
      <button>Relatorio</button>
      <button [routerLink]="['cliente/lista']">Clientes</button>
      <button [routerLink]="['cliente/novo']">Adicionar Cliente</button>
    </nav>
    <nav *ngIf="this.router.url == '/conta/a-pagar'">
      <button>Relatorio</button>
      <button [routerLink]="['fornecedor/lista']">Fornecedores</button>
      <button [routerLink]="['fornecedor/novo']">Adicionar Fornecedor</button>
      <button [routerLink]="['adicionar-dispesa']">Adicionar Dispesa</button>
    </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
