<div class="header background-black">
  <div class="logo" [routerLink]="['/home']">
    <div class="nome">
      <h1 class="font-silver">Tarefas</h1>
    </div>
  </div>

  <nav *ngIf="this.router.url !== '/home'">
    <button [routerLink]="['/task']" routerLinkActive="active">Tarefas</button>
  </nav>

  <div class="profile">
    <button *ngIf="this.router.url !== '/home'" (click)="back()">Voltar</button>
    <h2
      *ngIf="this.user.Name !== undefined"
      class="font-white"
      [routerLink]="['/perfil']"
    >
      Ola {{ user.Name }}!
    </h2>
    <h2
      *ngIf="this.user.Name === undefined"
      class="font-white"
      [routerLink]="['/auth']"
    >
      Logar
    </h2>
  </div>
</div>
