<div class="header background-black">
  <div class="logo" [routerLink]="['/home']">
    <div class="nome">
      <h1 class="font-silver">Dashboard</h1>
    </div>
  </div>

  <nav *ngIf="user.name !== undefined">
    <button [routerLink]="['/task']" routerLinkActive="active">Tarefas</button>
  </nav>

  <div class="profile">
    <button [disabled]="router.url == '/home'" (click)="back()">Voltar</button>
    <h2
      *ngIf="user.name !== undefined"
      class="font-white"
      [routerLink]="['/profile']"
    >
      Ola {{ user.name }}!
    </h2>
    <button *ngIf="user.name !== undefined" (click)="logout()">Sair</button>
    <h2
      *ngIf="user.name === undefined"
      class="font-white"
      [routerLink]="['/auth']"
    >
      Logar
    </h2>
  </div>
</div>
