.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 24px;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Fundo branco com transparência */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
  border-radius: 8px; /* Bordas arredondadas */
  margin-bottom: 20px; /* Espaçamento abaixo do cabeçalho */
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.logo .nome {
  display: flex;
  flex-direction: column;
}

.logo h1 {
  font-family: "Rajdhani", sans-serif; /* Garantindo fonte padrão */
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  color: #333; /* Cor mais escura para contraste */
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

h2,
button {
  font-family: "Poppins", sans-serif; /* Garantindo fonte padrão */
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #333; /* Cor mais escura para contraste */
  transition: color 0.3s; /* Suave transição de cor */
}

button {
  background-color: transparent; /* Fundo transparente */
  border: none; /* Remover borda */
  cursor: pointer; /* Cursor de ponteiro para indicar que é clicável */
}

button:hover {
  color: #b42727; /* Mudança de cor ao passar o mouse */
}

.avatar {
  width: 48px;
  height: 48px;
  background: #f8f8f8;
  border-radius: 4px;
  overflow: hidden; /* Garantir que a imagem não saia do contêiner */
}

.avatar img {
  width: 100%; /* Ajustar a imagem para ocupar 100% do contêiner */
  height: auto; /* Manter a proporção da imagem */
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}
