.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 100vw;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    .cliente {
      display: flex;
      flex-direction: column;
      overflow: auto;
      padding: 8px 32px;
      gap: 8px;
      width: 30vw;
      height: calc(100vh - 258px);
    }
    .produtos {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px 32px;
      width: 100%;
      height: calc(100vh - 258px);
      gap: 1rem;
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: auto;
        height: calc(100vh - 331px);
        padding: 0px;
        background: #f8f8f8;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        list-style-type: none;
        li {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          padding: 1.2rem;
          width: 100%;
          border-bottom: 1px solid #404040;
          span {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: 100%;
            max-width: 240px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 1rem 32px;
    gap: 32px;
    box-sizing: border-box;
    width: 100vw;
  }
}
