dialog {
  min-width: 30rem;
  padding: 0;
  z-index: 2;
  background: #f0e7de; /* Cor mais clara para suavizar o visual */
  border-radius: 12px; /* Bordas arredondadas mais suaves */
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombras mais suaves e maiores */
  animation: slide-down-fade-in 0.4s ease-out forwards; /* Animação um pouco mais lenta para suavidade */
  border: transparent;
  position: fixed;
  top: 1%;
  left: 65%;
  transform: translate(-50%, -50%); /* Centraliza o diálogo na tela */
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* Fundo mais escuro para focar no diálogo */
  backdrop-filter: blur(4px); /* Efeito de desfoque no fundo */
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
