<div class="main">
  <div class="content">
    <span>
      <small>E-Mail:</small> <strong>{{ user.Email }}</strong>
    </span>
    <span>
      <small>Nome:</small>
      <strong>{{ user.Name }}</strong>
    </span>

    <button class="btn-action" (click)="mudarSenha = !mudarSenha">
      Mudar Senha
    </button>
    <div *ngIf="mudarSenha == true" class="mudar-senha">
      <div class="header">
        <h2>Digite sua senha atual</h2>
        <input type="password" id="password" />
      </div>

      <div class="header">
        <h2>Digite a nova senha</h2>
        <input type="password" id="passwordNew" />
      </div>

      <div class="footer">
        <button class="btn-cancel">cancelar</button>
        <button class="btn-Save">Salvar</button>
      </div>
    </div>
  </div>
</div>
